article
  section
    h2 Introduction to Automated Testing
    p Or, how to move fast without breaking things
  section
    h2 Automated Testing
    p Why write automated tests?
    ul
      li Saves time and money by reducing or eliminating the need for manual QA staff
      li Speeds up development by shortening the feedback cycle
      li Improves morale and confidence
  section
    h2 Types of Automated Tests
    ol
      li Unit Tests
      li Integration Tests
      li Acceptance/Functional/End To End Tests
      li Regression Tests
  section
    h2 Unit Testing
  section
    h2 Unit Testing - Example
    p Lots of unit test runners out there: Jest, Jasmine, etc. Most provide similar functionality.
    code(data-gist-id="e9098601057cb2ab2a23")
  section
    h2 Unit Testing - Demo
    h1 Demo Time!
  section
    h2 Integration Testing
  section
    h2 Acceptance/Functional/End To End Testing
    h3 Acceptance Testing
    ul
      li Replaces manual QA by attempting to automate the end user of the software.
      li Purely black box
      li Goal is to ensure that the end user will accept the implementation