.test-slide {
    background-color: #A6A6A6;
    color: #333;
    font-size: 3em;
}

.test-slide .content {
  padding-left: 1em;
  padding-right: 1em;
}

.test-slide h1 {
  width: 100%;
  font-size: 1em;
  background-color: #CC6600;
  margin-top: 0;
  margin-bottom: 0;
  padding: 1em 0.5em;
}

.test-slide code {
}

.test-slide .center {
  text-align: center;
  background-color: transparent;
}