article
  section
    h1 Introduction to Automated Testing
    div.content
      h3 Or, how to move fast without breaking things
  section
    h1 Automated Testing
    div.content
      p Why write automated tests?
      ul
        li Saves time and money by reducing or eliminating the need for manual QA staff
        li Speeds up development by shortening the feedback cycle
        li Improves morale and confidence
  section
    h1 Types of Automated Tests
    div.content
      ol
        li Unit Tests
        li Integration Tests
        li Acceptance/Functional/End To End Tests
        li Regression Tests
  section
    h1 Unit Testing
    div.content
  section
    h1 Unit Testing - Example
    div.content
      p Lots of unit test runners out there: Jest, Jasmine, etc. Most provide similar functionality.
      code(data-gist-id="e9098601057cb2ab2a23")
  section
    h1 Unit Testing - Demo
    div.content
      h1.center Demo Time!
  section
    h1 Integration Testing
    div.content
  section
    h1 Acceptance/Functional/End To End Testing
    div.content
      h3 Acceptance Testing
      ul
        li Replaces manual QA by attempting to automate the end user of the software.
        li Purely black box
        li Goal is to ensure that the end user will accept the implementation