article
  section
    h2 Introduction to Automated Testing
    p Or, how to move fast without breaking things
  section
    h2 Automated Testing
    p Why write automated tests?
    ul
      li Saves time and money by reducing or eliminating the need for manual QA staff
      li Speeds up development by shortening the feedback cycle
      li Improves morale and confidence
  section
    h2 Types of Automated Tests
    ol
      li Unit Tests
      li Integration Tests
      li Acceptance/Functional Tests
      li Regression Tests
  section
    h2 Unit Testing
  section
    h2 Integration Testing
  section
    h2 Acceptance Testing
