.slide {
  display: none;
  overflow: hidden;
}

.slide>div {
  width: 100%;
}

.fullscreen {
  display: flex;
  flex: 15;
  padding: 2em, 1.5em;
}

.mini {
  display: flex;
  margin: 0.25em;
  font-size: 25%;
  border-radius: 5px;
}