.slide-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: stretch;
    padding: 0.5em;
}

#rd-hidden-content {
  display: none;
}
