.slide-container {
    display:flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.overview {
    font-size: 0.1em;
}

.presentation {
    font-size: 2em;
}

body {
    background-color: #C0C0C0;
    margin: 0;
}

.controls {
    height: 3%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#rd-hidden-content {
  display: none;
}
